.DS_Store
doc/*.png
log/*.log
tmp/**/*
tmp/*
config/database.yml
db/*.sqlite3*
db/schema.rb
coverage/**
coverage.data
*.swp
*.swo
rerun.txt
solr/**/*
config/email.yml
public/images/products/**/*
public/stylesheets/shopping/sample.css
tmp/**/*
*.gem